body {
  background-color: powderblue;
    text="#000000";
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th {
    border: 2px solid green;
  text-align: left;
  padding: 8px;
}
td {
    background-color: #ff9999;
    border: 2px solid green;
  text-align: left;
  padding: 8px;
}


tr:nth-child(even){
    background-color: #f2f2f2
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
img {
max-width:100%;height:auto;
}