<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Thymeleaf</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<h2>Accounts</h2>
<div>

    <img src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Hello%21_Logo.jpg"/>
    <div class="grid-container">
        <div class="grid-item">
            <table>
                <header>
                    List of all accounts
                </header>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Login</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <div>
                    <div th:each="account : ${accounts}">
                        <tr>
                            <td>
                                <span th:text="${account.accountId}">default</span>
                            </td>
                            <td>
                                <span th:text="${account.name}">default</span>
                            </td>
                            <td>
                                <span th:text="${account.login}">default</span>
                            </td>
                            <td>
                                <span th:text="${account.email}">default</span>
                            </td>
                        </tr>
                    </div>
                </div>
                </tbody>
            </table>
        </div>
        <div class="grid-item">
            <table>
                <header>
                    List of not deleted and not VIP accounts
                </header>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Login</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="norVipNorDeletedAccount : ${norVipNorDeletedAccounts}">
                    <tr>
                        <td>
                            <span th:text="${norVipNorDeletedAccount.accountId}">default</span>
                        </td>
                        <td>
                            <span th:text="${norVipNorDeletedAccount.name}">default</span>
                        </td>
                        <td>
                            <span th:text="${norVipNorDeletedAccount.login}">default</span>
                        </td>
                        <td>
                            <span th:text="${norVipNorDeletedAccount.email}">default</span>
                        </td>
                    </tr>
                </div>
                </tbody>
            </table>
        </div>
        <div class="grid-item">
            <table>
                <header>
                    List of deleted accounts
                </header>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Login</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="deletedAccount : ${deletedAccounts}">
                    <tr>
                        <td>
                            <span th:text="${deletedAccount.accountId}">default</span>
                        </td>
                        <td>
                            <span th:text="${deletedAccount.name}">default</span>
                        </td>
                        <td>
                            <span th:text="${deletedAccount.login}">default</span>
                        </td>
                        <td>
                            <span th:text="${deletedAccount.email}">default</span>
                        </td>
                    </tr>
                </div>
                </tbody>
            </table>
        </div>
        <div class="grid-item">
            <table>
                <header>
                    List of VIP accounts
                </header>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Login</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="vipAccount : ${vipAccounts}">
                    <tr>
                        <td>
                            <span th:text="${vipAccount.accountId}">default</span>
                        </td>
                        <td>
                            <span th:text="${vipAccount.name}">default</span>
                        </td>
                        <td>
                            <span th:text="${vipAccount.login}">default</span>
                        </td>
                        <td>
                            <span th:text="${vipAccount.email}">default</span>
                        </td>
                    </tr>
                </div>
                </tbody>
            </table>
        </div>
        <div class="grid-item">
            <table>
                <header>
                    List of accounts with profiles
                </header>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Login</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="account : ${accountsWithProfiles}">
                    <tr>
                        <td>
                            <span th:text="${account.accountId}">default</span>
                        </td>
                        <td>
                            <span th:text="${account.name}">default</span>
                        </td>
                        <td>
                            <span th:text="${account.login}">default</span>
                        </td>
                        <td>
                            <span th:text="${account.email}">default</span>
                        </td>
                    </tr>
                </div>
                </tbody>
            </table>
        </div>
    </div>
    <footer>
        by Pawel
    </footer>
</div>
</body>
</html>
