<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Thymeleaf</title>
</head>
<body>
<h2>Accounts</h2>
<div align="center">
    <form action="#" th:action="@{/account/save}" th:object="${form}"
          method="post">
        <fieldset>
            <input type="submit" id="submitButton" th:value="Save">
            <input type="reset" id="resetButton" name="reset" th:value="Reset"/>
            <table>
                <thead>
                <tr>
                    <th> title</th>
                    <th> author</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="account, itemStat : *{accounts}">
                    <td><input th:field="*{accounts[__${itemStat.index}__].title}" /></td>
                    <td><input th:field="*{accounts[__${itemStat.index}__].author}" /></td>
                </tr>
                </tbody>
            </table>
        </fieldset>
    </form>
    <ul>
        <!--https://www.baeldung.com/thymeleaf-list-->
        <a>All accounts</a>
        <!--TODO wyswietlic wszystkie dane w kolumnach (przyklad ze strony)-->
        <li th:each="account : ${accounts}">
            <span th:text="${account.name}">default</span>
        </li>
        <a>Deleted accounts</a>
        <li th:each="deletedAccount : ${deletedAccounts}">
            <span th:text="${deletedAccount.name}">default</span>
        </li>
        <a>Vip accounts</a>
        <li th:each="vipAccount : ${vipAccounts}">
            <span th:text="${vipAccount.name}">default</span>
        </li>
        <a>Nor Vip Nor Deleted Account</a>
        <li th:each="norVipNorDeletedAccount : ${norVipNorDeletedAccounts}">
            <span th:text="${norVipNorDeletedAccount.name}">default</span>
        </li>
        <!--TODO account majace profile -> petla w petli przy wyswietlaniu-->
        <!--TODO nazwy profili na czerwonym tle, nazwy accountw na zielonym -> google -> kolorowanie tekstu html-->
    </ul>

</div>
</body>
</html>
