<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Thymeleaf</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<h2>Documents</h2>
<div>
    <div class="grid-container">
        <div class="grid-item">
            <table>
                <header>
                    List of documents type 1
                </header>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Number</th>
                    <th>Author</th>
                    <th>Comment</th>
                </tr>
                </thead>
                <tbody>
                <div>
                    <div th:each="document : ${documentType1}">
                        <tr>
                            <td>
                                <span th:text="${document.documentId}">default</span>
                            </td>
                            <td>
                                <span th:text="${document.number}">default</span>
                            </td>
                            <td>
                                <span th:text="${document.author}">default</span>
                            </td>
                            <td>
                                <span th:text="${document.comment}">default</span>
                            </td>
                        </tr>
                    </div>
                </div>
                </tbody>
            </table>
        </div>
        <div class="grid-item">
            <table>
                <header>
                    List of documents type 3
                </header>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Number</th>
                    <th>Author</th>
                    <th>Comment</th>
                </tr>
                </thead>
                <tbody>
                <div>
                    <div th:each="document : ${documentType3}">
                        <tr>
                            <td>
                                <span th:text="${document.documentId}">default</span>
                            </td>
                            <td>
                                <span th:text="${document.number}">default</span>
                            </td>
                            <td>
                                <span th:text="${document.author}">default</span>
                            </td>
                            <td>
                                <span th:text="${document.comment}">default</span>
                            </td>
                        </tr>
                    </div>
                </div>
                </tbody>
            </table>
        </div>
        <div class="grid-item">
            <table>
                <header>
                    List of documents type 4
                </header>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Number</th>
                    <th>Author</th>
                    <th>Comment</th>
                </tr>
                </thead>
                <tbody>
                <div>
                    <div th:each="document : ${documentType4}">
                        <tr>
                            <td>
                                <span th:text="${document.documentId}">default</span>
                            </td>
                            <td>
                                <span th:text="${document.number}">default</span>
                            </td>
                            <td>
                                <span th:text="${document.author}">default</span>
                            </td>
                            <td>
                                <span th:text="${document.comment}">default</span>
                            </td>
                        </tr>
                    </div>
                </div>
                </tbody>
            </table>
        </div>
    </div>
    <footer>
        by Pawel
    </footer>
</div>
</body>
</html>
