<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Thymeleaf</title>
</head>
<body>
<h2>Welcome to Thymeleaf!</h2>
<div align="center">
<a th:href="@{accounts}">Accounts</a>
    <a th:href="@{documents}">Documents</a>
</div>
</body>
</html>